.comdf-container{
    padding: 30px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    align-items: center;
    @media screen and (max-width: 970px){
        grid-template-columns: auto;
    }

    .entire-row{
        grid-column: 1 / span 2;
        @media screen and (max-width: 970px){
            grid-column: 1;
        }
    }

    .comdf-curso-cell{
        grid-column: 1;
        grid-row: 1;
    }

    .comdf-dias-cell{
        grid-column: 2;
        grid-row: 1;
    }

    .comdf-hora-comienzo-cell{
        grid-column: 1;
        grid-row: 2;
    }

    .comdf-hora-fin-cell{
        grid-column: 2;
        grid-row: 2;
    }

    .comdf-fecha-comienzo-cell{
        grid-column: 1;
        grid-row: 3;
    }

    .comdf-fecha-fin-cell{
        grid-column: 2;
        grid-row: 3;
    }
}

.botonera {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 10px;

    .save-btn{
        grid-column: 6;
    }
}