.upf-container{
    padding: 30px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;

    .entire-row{
        grid-column: 1 / span 2;
        font-size: 25px;
        text-align: center;
        margin: 10px 0;
    }

    .datos-personales-title{
        grid-row: 2;
    }

    .datos-contactos-title{
        grid-row: 8;
    }

    .img-user{
        grid-column: 2;
        grid-row: 3 / span 5;
    }
}

.botonera {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 10px;

    .save-btn{
        grid-column: 6;
    }
}