<form class="upf-container card">
  <div>Nro Cuenta</div>
  <div>Rol</div>
  <div class="datos-personales-title entire-row">Datos personales</div>
  <div>DNI</div>
  <div class="img-user">imagen</div>
  <div>Nombre</div>
  <div>Apellido</div>
  <div>FechaNacimiento</div>
  <div>Edad</div>
  <div class="datos-contacto-title entire-row">Datos de contacto</div>
  <div>Dirección</div>
  <div>Código Postal</div>
  <div>Localidad</div>
  <div>Provincia</div>
  <div>Teléfono</div>
  <div>Celular</div>
  <div>Correo Electrónico</div>
  <div>Otro medio de contacto</div>
</form>
<div class="botonera">
  <app-rounded-button></app-rounded-button>
  <app-rounded-button></app-rounded-button>
</div>