<form *ngIf="form" [formGroup]="form" class="upf-container card">
  
  <!-- N Ú M E R O   D E   C U E N T A -->
  <app-input-dr class="upf-nroCuenta-cell" [config]="nroCuentaConfig"></app-input-dr>
  
  <!-- R O L-->
  <app-select-dr class="upf-rol-cell" *ngIf="userTipo == userTypes.ADMIN" [config]="rolConfig"></app-select-dr>
  
  <div class="datos-personales-title entire-row">Datos personales</div>
  
  <!-- D N I -->
  <app-input-dr class="upf-dni-cell" [config]="dniConfig" (dataEmit)="searchByDNI($event)" (suffixIconClicked)="searchByDNIIcon($event)"></app-input-dr>
  
  <div class="img-user">imagen</div>
  
  <!-- N O M B R E -->
  <app-input-dr class="upf-nombre-cell" [config]="nombreConfig"></app-input-dr>
  
  <!-- A P E L L I D O -->
  <app-input-dr class="upf-apellido-cell" [config]="apellidoConfig"></app-input-dr>
  
  <!-- F E C H A   D E   N A C I M I E N T O -->
  <app-input-dr class="upf-fechaNacimiento-cell" [config]="fechaNacimientoConfig" (dataEmit)="changeAge($event)"></app-input-dr>

  <!-- E D A D -->
  <app-input-dr class="upf-edad-cell" [config]="edadConfig"></app-input-dr>

  <div class="datos-contacto-title entire-row">Datos de contacto</div>
  
  <!-- D I R E C C I O N -->
  <app-input-dr class="upf-direccion-cell" [config]="direccionConfig"></app-input-dr>

  <!-- C O D I G O   P O S T A L -->
  <app-input-dr class="upf-codPostal-cell" [config]="codPostalConfig" (dataEmit)="getLocalidadList($event)" (suffixIconClicked)="getLocalidadListIcon($event)"></app-input-dr>

 <!-- L O C A L I D A D -->
 <app-select-dr class="upf-localidad-cell" [config]="localidadConfig" (dataEmit)="setProvinciaField($event)"></app-select-dr>

  <!-- P R O V I N C I A -->
  <app-input-dr class="upf-provincia-cell" [config]="provinciaConfig"></app-input-dr>
  
  <!-- T E L E F O N O -->
  <app-input-dr class="upf-telefono-cell" [config]="telefonoConfig"></app-input-dr>
  
  <!-- C E L U L A R -->
  <app-input-dr class="upf-celular-cell" [config]="celularConfig"></app-input-dr>

  <!-- E M A I L -->
  <app-input-dr class="upf-email-cell" [config]="emailConfig"></app-input-dr>

  <!-- O T R O   M E D I O -->
  <app-input-dr class="upf-otroMedio-cell" [config]="otroMedioConfig"></app-input-dr>

</form>
<div class="botonera">
  <app-rounded-button [config]="cancelConfig" (click)="emitSave.emit(null)"></app-rounded-button>
  <app-rounded-button class="save-btn" [config]="saveConfig" (click)="emitSave.emit(persona)"></app-rounded-button>
</div>