<div class="alumno-card">
  <div class="persona-card-container card">
    <img class="persona-card-img" src="assets/images/logos/logoDR.png" alt="">
    <div class="persona-card-name weight-text">{{persona.apellido}}, {{persona.nombre}}</div>
    <div class="persona-card-dni"><span class="weight-text">DNI: </span>{{persona.dni}}</div>
    <div class="persona-card-nroCuenta"><span class="weight-text">Nro. Cuenta: </span>{{persona.nroCuenta}}</div>
    <div class="persona-card-telefono"><span class="weight-text">Tel.: </span>{{persona.telefono}}</div>

    <app-small-botonera class="persona-card-botonera" (leftButtonClicked)="goToModify()" (rightButtonClicked)="delete()"></app-small-botonera> 
  </div>
</div>
