.perfil-usuario-page {
    .pu-title {
      width: 55%;
      margin: 0 auto;
      border-radius: 20px;
      padding: 15px;
      text-align: center;
      font-size: 35px;
    }
    .perfil-usuario-container {
    }
  }