<app-layout>
    <div class="alumnos-gestion-page routerOutlet routerOutlet-gestion">
        <app-round-button class="agp-round-button" (roundButtonClicked)="goToNuevoAlumno($event)"></app-round-button>
        <app-buscador-dr class="alumnos-gestion-buscador" [label]="'Buscar alumnos por apellido, nombre, DNI o Nro de alumno'" (textoBuscado)="filtrarLista($event)"></app-buscador-dr>
        <div *ngIf="alumnosFilteredList.length > 0" class="alumnos-gestion-cards">
            <app-alumno-card *ngFor="let alumno of alumnosFilteredList" [persona]="alumno" (modifyPersona)="goToModify($event)" (deletePersona)="deletePersona($event)"></app-alumno-card>
        </div>
    </div>
</app-layout>
