.itm-container{
    .itm-title{
        font-size: 35px;
        margin: 10px auto;
        text-align: center;
    }

    .itm-form{
        width: 80%;
        margin: auto;
    }

    .botonera {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 10px;
        bottom: 10px;
        position: absolute;
    
        .search-btn{
            grid-column: 4;
        }
    }
}