<form *ngIf="config && config.form" [formGroup]="config.form" class="tadr-container">
  <mat-form-field class="full-width">
    <mat-label *ngIf="config && config.label">{{ config.label }}</mat-label>
    <textarea *ngIf="config && config.label"
              matInput 
              [formControlName]="config.formControlName"
              [readonly]="config.readOnly"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="{{ config.minRows ? config.minRows : 2}}"
              cdkAutosizeMaxRows="10"
              (focusout)="dataEmit.emit(field.value)"></textarea>
    <mat-error *ngIf="config && config.type">{{getErrorMessage(config.type)}}</mat-error>
  </mat-form-field>
</form>
