.descargas-page {
    .descargas-container {
      .descargas-title {
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
      }
  
      .descargas-text {
        display: grid;
        grid-template-columns: 60% 40%;
        font-size: 14px;
      }

      .descargas-cursos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 20px;
        grid-gap: 20px;
      }
    }
  }
  