<div class="comision-card">
  <div class="comision-card-container card">
    <div class="check-icon" *ngIf="isSelected">
      <img src="assets/images/check-option.png" alt="">
    </div>
    <img *ngIf="!comision || !comision.curso || !comision.curso.imagen" class="comision-card-img" src="assets/images/logos/logoDR.png" alt="">
    <img *ngIf="comision && comision.curso && comision.curso.imagen" class="comision-card-img" src="{{'http://localhost:8000/images/curso/'+comision.curso.imagen}}" alt="">
    <div class="comision-card-name">
      <div>Nombre del curso:</div>
      <div class="weight-text">{{comision.curso.nombre}}</div>
    </div>
    <div class="comision-card-name">
      Número de comisión: <span class="weight-text">{{comision.id}}</span>
    </div>
    <div class="comision-card-dni">
      Horario: <span class="weight-text">{{ horarioString }}</span>
    </div>
    <div class="comision-card-nroCuenta">
      Dias: <span class="weight-text">{{ diasString }}</span>
    </div>

    <app-small-botonera *ngIf="showSmallBotonera" class="comision-card-botonera" [config]="smallBotoneraConfig" (leftButtonClicked)="goToModify()" (rightButtonClicked)="delete()"></app-small-botonera> 
    <div *ngIf="showValue" class="comision-card-value">{{ comision.curso.valor  | currency:"ARS":"symbol" }}</div>
  </div>
</div>