.comision-card {
    padding: 10px;
    .comision-card-container {
        padding: 20px;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        color: #000;
        border-radius: 20px;
        font-size: 20px;
        width: 100%;
        max-width: 444px;
        position: relative;
        
        .check-icon{
            position: absolute;
            width: 35px;
            right: 15px;
            top: 15px;
        }

        .comision-card-img{
            height: 100px;
            grid-column: 1;
            grid-row: 1/span 5;
            border-radius: 50%;
            width: 100px;
            align-self: center;
            justify-self: center;
        }

        .comision-card-botonera{
            justify-self: end;
        }
    }
}