.forgot-password-page{
    .forgot-password-container{
        display: grid;
        grid-template-columns: 25% auto 25%;
        grid-template-rows: auto auto auto;
        .forgot-password-logoDr {
            grid-column: 1;
            grid-row: 1/span 3;
            width: 150px;
            justify-self: center;
        }

        .forgot-password-form{
            grid-row: 1 / span 3;
            align-self: center;
        }

        .forgot-password-button {
            display: block;
            width: 150px;
            margin: 0 auto;
        }

        .forgot-password-logoDrKids {
            grid-column: 3;
            grid-row: 1/span 3;
            width: 150px;
            justify-self: center;
        }
    }
}
