<app-layout>
  <div class="forgot-password-page routerOutlet">
    <div class="forgot-password-container page-with-card card">
      <img class="forgot-password-logoDr" src="assets/images/logos/logoDR.png">
      <form *ngIf="form" [formGroup]="form" class="forgot-password-form">

        <!-- EMAIL -->
        <mat-form-field class="full-width">
          <mat-label>Correo electrónico</mat-label>
          <input matInput type="email" formControlName="email" required>
        </mat-form-field>

        <app-rounded-button class="forgot-password-button" [config]="buttonConfig" (buttonClicked)="forgot-password($event)"></app-rounded-button>
      </form>
      <img class="forgot-password-logoDrKids" src="assets/images/logos/logoDRKids.png">
    </div>
  </div>
</app-layout>