<div class="iai-container card">
  <div class="iai-title">Bienvenido a la sección de preinscripciones</div>
  <div class="iai-text">Esta sección se compone de tres pasos:</div>
  <div class="iai-text iai-item">
    <img alt="" src="assets/images/grade-icon.jpg">
    <div class="iai-item-text">Elegí la comisión en la cual querés participar</div>
  </div>
  <div class="iai-text iai-item">
    <img alt="" src="assets/images/verify-data.png">
    <div class="iai-item-text">Verificá que los datos seleccionados son los correctos</div>
  </div>
  <div class="iai-text iai-item">
    <img alt="" src="assets/images/result-icon.svg">
    <div class="iai-item-text">Resultado</div>
  </div>
</div>