.premios-page {
  .premios-title {
    margin: 2px auto 0;
    font-size: 35px;
    text-align: center;
    width: 55%;
  }

  .edit-button{
    top: 60px;
  }

  .delete-button{
    top: 110px;
  }

  .premios-container {
    text-align: center;
    .premios-header {
      display: grid;
      grid-template-columns: 20% 60% 20%;
      justify-items: center;
      width: 100%;
      align-items: center;
      font-size: 27px;
      background: linear-gradient(0deg, red, orange, #ffd390d4, orange, red);
      padding: 10px;
      border-radius: 15px;
      border: 1px solid gray;
      box-shadow: 0 0 1px 1px grey;

      .header-logos {
        height: 14vh;
      }
    }

    .premio-cuota-container{
      display: grid;
      grid-template-columns: repeat(4, calc(25% - 15px));
      margin-top: 20px;
      column-gap: 20px;
      row-gap: 20px;
    }

    @media screen and (max-width: 1450px){
      .premio-cuota-container{
        grid-template-columns: repeat(2, calc(50% - 10px));
      }
    }

    @media screen and (max-width: 740px){
      .premio-cuota-container{
        grid-template-columns: 100%;
      }
    }

    .pc-winner {
      height: 10vh;
      margin-top: 5vh;
      cursor: pointer;
    }

    .pc-winner:hover {
      opacity: 0.8;
    }
  }
}
