<app-layout>
  <div class="premios-page routerOutlet">
    <app-round-button class="right-float-button" [name]="'add'" (roundButtonClicked)="addPremio($event)"></app-round-button>
    <app-round-button class="right-float-button edit-button" [name]="'pencil'" (roundButtonClicked)="editPremio($event)"></app-round-button>
    <app-round-button class="right-float-button delete-button" [name]="'trash'" (roundButtonClicked)="confirmDelete($event)"></app-round-button>
    <div class="premios-title">Resultado de los sorteos</div>
    <div class="premios-container page-with-card card">
      <div class="premios-header">
        <img alt="logoDR" class="header-logos" src="assets/images/logos/logoDR.png">
        <span>Sorteo mensual año 2021 - Una Cuota</span>
        <img alt="logoDRKids" class="header-logos" src="assets/images/logos/logoDRKids.png">
      </div>

      <div *ngIf="premiosList && premiosList.length > 0" class="premio-cuota-container">
        <app-premio-card *ngFor="let premio of premiosList" [premio]="premio" [selected]="premioSelected && premioSelected.id === premio.id" (click)="selectPremio(premio)"></app-premio-card>
      </div>

      <img class="pc-winner" src="assets/images/DinoPC.webp" (click)="showGanadorPC = !showGanadorPC">

      <div *ngIf="showGanadorPC">Acá iría tarjeta con el ganador de la pc anual</div>
    </div>
  </div>
</app-layout>