<app-layout>
  <div class="cursos-gestion-page routerOutlet routerOutlet-gestion">
    <app-round-button class="cgp-round-button" (roundButtonClicked)="goToNuevoCurso($event)"></app-round-button>
    <app-buscador-dr class="cursos-gestion-buscador" [label]="'Buscar cursos por nombre o Nro de curso'" (textoBuscado)="filtrarLista($event)"></app-buscador-dr>
    <div *ngIf="cursosFilteredList && cursosFilteredList.length > 0" class="cursos-gestion-cards">
      <!-- <app-alumno-card *ngFor="let alumno of alumnosFilteredList" [persona]="alumno" (modifyPersona)="goToModify($event)" (deletePersona)="deletePersona($event)"></app-alumno-card> -->
    </div>
  </div>
</app-layout>