<div class="bosmc-container card">
  <div class="bosmc-title">{{title}}</div>
  <form class="bosmc-form">

     <!-- N O M B R E   C U R S O -->
    <app-select-dr class="comdf-curso-cell" [config]="cursoConfig"></app-select-dr>

     <!-- F E C H A   C O M I E N Z O -->
    <app-input-dr class="comdf-fecha-comienzo-cell" [config]="fechaComienzoConfig"></app-input-dr>

    <!-- F E C H A   F I N -->
    <app-input-dr class="comdf-fecha-fin-cell" [config]="fechaFinConfig"></app-input-dr>
  </form>
  <div class="botonera">
    <app-rounded-button class="cancel-btn" [config]="cancelConfig" (click)="modalDismiss(false)"></app-rounded-button>
    <app-rounded-button class="search-btn" [config]="searchConfig" (click)="modalDismiss(true)"></app-rounded-button>
  </div>
</div>