.home-page {
  padding: 20px 0;
  display: grid;
  grid-template-columns: auto auto auto;
  .cursos-adultos-container{
    margin-left: 10px;
    grid-column: 1;
    grid-row: 1 / span 5;
  }

  .cursos-kids-container {
    grid-column: 3;
    grid-row: 1 / span 5;
  }

  .home-bienvenida {
    text-align: center;
    font-size: 50px;
    color: #000;
    margin-bottom: 30px;
    grid-column: 2;
    .dr-font{
        font-size: 50px;
    }
  }
}
