.agd-buscador-container{
    width: 55%;
    margin: 0 auto 20px;
}



.agd-alumno-cards {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    @media screen and (max-width: 1485px) {
        grid-template-columns: repeat(3, auto);
    }
    .agd-alumno-card{
        cursor: pointer;
    }
}