<form *ngIf="form" [formGroup]="form" class="cdf-container card">
  
  <!-- N O M B R E -->
  <app-input-dr class="cdf-nombre-cell entire-row" [config]="nombreConfig"></app-input-dr>
  
  <!-- P R O G R A M A -->
  <div class="cdf-programa-cell">programa</div>

  <!-- I M A G E N -->
  <div class="cdf-imagen-cell">
    <input id="file" type="file" (change)="mostrarImagenCargada($event)"/>
    <hr>
    <div #preview id="preview">
      <img [src]="cursoImage">
    </div>
  </div>
 
  <!-- C A T E G O R I A -->
  <app-select-dr class="cdf-categoria-cell" [config]="categoriaConfig"></app-select-dr>

  <!-- V A L O R -->
  <app-input-dr class="cdf-valor-cell" [config]="valorConfig"></app-input-dr>
  
  <!-- D E S C R I P C I O N -->
  <app-text-area-dr class="cdf-descripcion-cell entire-row" [config]="descripcionConfig"></app-text-area-dr>

</form>
<div class="botonera">
  <app-rounded-button [config]="cancelConfig" (click)="emitSave.emit(null)"></app-rounded-button>
  <app-rounded-button class="save-btn" [config]="saveConfig" (click)="emitSave.emit(curso)"></app-rounded-button>
</div>