<div class="igi-container card">
  <div class="igi-title">Bienvenido a la sección de inscripciones</div>
  <div class="igi-text">Esta sección se compone de tres pasos:</div>
  <div class="igi-text igi-item">
    <img alt="" src="assets/images/student-icon.jpg">
    <div class="igi-item-text">Datos del alumno</div>
  </div>
  <div class="igi-text igi-item">
    <img alt="" src="assets/images/verify-data.png">
    <div class="igi-item-text">Datos de la comisión</div>
  </div>
  <div class="igi-text igi-item">
    <img alt="" src="assets/images/result-icon.svg">
    <div class="igi-item-text">Resultado</div>
  </div>
  <div class="igi-aclaracion">* Se recomienda tener a mano el DNI del alumno y el código de la comisión.</div>
</div>