.boletin-informativo-page {
  .boletin-informativo-container {
    .boletin-informativo-title {
      text-align: center;
      font-size: 30px;
      margin-bottom: 20px;
    }

    .boletin-informativo-text {
      display: grid;
      grid-template-columns: 60% 40%;
      font-size: 14px;
    }
  }
}
